<div class="well sidebar-nav">
  <ul class="nav nav-pills nav-stacked" data-role="listview" data-split-icon="gear" data-filter="true">

    <g:each status="i" var="c" in="${grailsApplication.controllerClasses.sort { it.logicalPropertyName }}">
      <li class="controller${params.controller == c.logicalPropertyName ? " active" : ""}">
        <g:link controller="${c.logicalPropertyName}" action="index">
          <g:message code="${c.logicalPropertyName}.label" default="${c.logicalPropertyName.capitalize()}"/>
        </g:link>
      </li>
    </g:each>

  </ul>
</div>