html {
}

.errorField {
    border-color: red !important;
    box-shadow: 0 0 10px red !important;
}

.json-textArea {
    height: 270px !important;
}

.load-spinner {
    position: absolute;
    left: 40%;
    top: 50px;
    display: none;
}

.load-spinner.spin {
    display: block;
}

div.loading {
    display: none;
}

.parent {
    min-height: 136px;
    position: relative;
}

pre.json {
    min-height: 34px;
    border-radius: 0 0 0 0 !important;
}

.json-key {
    color: brown;
}

.json-value {
    color: navy;
}

.json-string {
    color: olive;
}
