/** 
 * CSS fix for the logo & brand in the topbar/navbar section
 */

.navbar img.logo {
    max-height: 36px;
    height: 36px;
    margin: 5px 0;
}

.navbar .brand {
    padding: 10px 20px 10px 20px;
}

.navbar .version {
    font-size: 60%;
    line-height: 60%;
}

.navbar-inverse .navbar-inner {
    background-image: -moz-linear-gradient(center top, #444444, #111111);
}

.dropdown-menu .form-container {
    padding: 15px 15px 10px 15px;
}

.dropdown-menu .button-container {
    padding: 1px 15px 10px 15px;
}

.dropdown-menu .form-container form {
    padding: 0;
    margin: 0;
}

.dropdown-menu .form-container form label {
    color: #999;
}

.modal form {
    margin-bottom: 0;
}

form p:last-child {
    margin-bottom: 0;
}

form p:last-child input {
    margin-bottom: 0;
}

.modal form div:last-child {
    margin-bottom: 0;
}

.modal-header h3 {
    color: #555555;
}

/**
 * CSS for the Header section (blue background, etc.)
 */

#Header {
    background-color: #049cd9;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
    background-image: -webkit-linear-gradient(#004D9F, #049cd9);
    background-image: -moz-linear-gradient(#004D9F, #049cd9);
    background-image: -o-linear-gradient(top, #004D9F, #049cd9);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004D9F', endColorstr='#049cd9', GradientType=0); /* IE8 and down */

    margin: 40px 0 0 0;
}

#Header .inner {
    background: transparent url(../img/grid-18px.png) top center;
    padding: 60px 0;
    -webkit-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
}

#Header .title {
    font-size: 72px;
    line-height: 72px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    color: #fff;
}

#Header .lead {
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    color: #fff;
}

footer {
    margin-top: 70px;
}

@media (max-width: 980px) {
    #Header {
        margin: 0px -20px 0px -20px;
    }

    #Header .inner {
        padding: 80px 20px;
    }

    .navbar-fixed-top {
        position: static;
        margin-bottom: 0px !important;
    }
}

/* 
 * Slight modification to Bootstrap in order to improve presentation 
 */

#Content {
    padding-top: 1em;
}

section.first {
    padding-top: 0px;
}

/*
 * Alternating table row colors
 */

.odd {
    background: #f0f0f0;
}

.even {
    background: #ffffff;
}

/*
 * Improve presentation of multiple alerts
 */

.alert ul {
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 6px;
    text-decoration: none;
    list-style-type: none;
}

.alert li {
    margin-bottom: 6px;
    text-decoration: none;
    list-style-type: none;
}

/*
 * Improve presentation of call to actions on frontpage
 */

.icon-image-huge:before {
    font-size: 120px;
    line-height: 120px;
}

.center {
    text-align: center;
    margin: 0 auto;
}

/*
 * Big Messages (Errors, etc.)
 */
section#Error {
    padding-top: 0;
}

.big-message {
    color: #5A5A5A;
    margin: 8em 0;
    text-align: center;
}

.big-message h1 {
    font-size: 120px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 1em;
    margin: 0.0em 0 0.5em;
}

.big-message h2 {
    font-size: 30px;
    font-weight: 200;
    margin: 1.0em 0 0.5em;
}

.big-message p {
    font-size: 16px;
    line-height: 1.5;
    margin: 1.0em 0 0.5em;
}

.big-message .actions {
    margin: 5.0em 0 2.0em 0;
}

.big-message .actions a {
    margin: 0 1.0em;
    text-decoration: none;
}

/**
 * Small correction for the radio-button like checkbox switch
 */
.radiocheckbox {
    width: 206px;
    display: inline-block;
    margin-top: 2px;
    margin-right: 14px;
}

.radiocheckbox .off, .radiocheckbox .on {
    border: 1px solid #ccc;
}

.radiocheckbox .off {
    border-left: none
}

.radiocheckbox .on {
    border-right: none;
}

.frontpageImage {
    height: 100px;
}

.margin-top-none {
    margin-top: 0em;
}

.margin-top-small {
    margin-top: 1em;
}

.margin-top-medium {
    margin-top: 2em;
}

.margin-top-large {
    margin-top: 4em;
}

.margin-top-xlarge {
    margin-top: 8em;
}

.dataTable {
    margin-bottom: 0;
}

.dataTable th[class*=sort] {
    cursor: pointer;
}

.dataTable th.sortable a {
    text-decoration: none;
    color: #555;
}

.dataTable th[class*=sort]:after {
    content: "\f0dc";
    display: inline-block;
    color: #555;
    font-family: FontAwesome;
    font-size: 13px;
    font-weight: normal;
    float: right;
    margin-right: 4px;
    position: relative;
}

.dataTable th[class*=sort] a:hover {
    color: #547EA8;
}

.dataTable th.sorted a {
    color: #307ECC;
    text-decoration: underline;
}

.dataTable th.sorted.desc:after {
    content: "\f0dd";
    top: -6px;
    color: #307ECC;
}

.dataTable th.sorted.asc:after {
    content: "\f0de";
    top: 4px;
    color: #307ECC;
}

.dataTable th.sorting_disabled {
    cursor: inherit;
}

.dataTable th:after {
    display: none;
}

.modal-footer-warning {
    line-height: 30px;
    color: #b94a48;
}

.name {
    background-color: #EDF3F4;
    font-weight: bold;
}

.edit-boundary {
    border: 1px solid #ddd;
    padding: 20px 0;
}

.questionnaire-holder {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.remove-questionnaire {
    float: right;
    margin-right: 10px !important;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.circle.adverse {
    background-color: #f00;
}

.circle.side {
    background-color: #ff0;
}

.circle.ok {
    background-color: #0f0;
}

.circle.waiting {
    background-color: #000;
}

.circle.not-init {
    background-color: #f0f;
}

.row_overflow-x_scrollable {
    overflow-x: scroll;
}

a.disabled {
    color: grey;
}

a.disabled:hover {
    text-decoration: none;
    color: grey;
    cursor: default;
}

a.disabled:hover i {
    cursor: default;
}

.conditional {
    display: none;
}

.main-content_mobile {
    margin-left: 0 !important;
}

.main-container_mobile {
    margin-top: 0 !important;
}
